
<div class='container_middle'>
<% @blogs.each do |blog| %>
  <div class="row">
      <div class="col s12">
        <div class="card #eeeeee grey lighten-3">
          <div class="card-content black-text">
            <span class="blog-title"> <%= blog.title %> </span>
          </div>
          <div class="card-action">
            <li>
              <%= link_to "詳細", "/blogs/#{blog.id}",class: "waves-effect waves-light btn-small #1a237e indigo darken-4", method: :get %></a>
            </li>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class = "pagination" >
    <%= paginate(@blogs) %>
</div>

</div>
